In [1]:
1+1

2

In [2]:
print (6//4)

1

In [4]:
a = "Hi, "
b = "Michael"
print ("Concatenation: ", a + b)
print ("First two letters: " + a[0:2])
print ("Index of 'a': " + str(b.find('a')))

Concatenation:  Hi, Michael
First two letters: Hi
Index of 'a': 4

In [8]:
x_tuple = ('shit', 6, 'ha', 8)
x_tuple[3]

8

In [15]:
y_list = [6, 66, '666', 'banana']
c_list = ['coffee', 23333]
y_list.append(2)
y_list

[6, 66, '666', 'banana', 2]

In [17]:
y_list

[6, 66, '666', 'banana', 2]

In [18]:
dessert_dict = {}
dessert_dict['Daniel'] = "B"
dessert_dict['Michael'] = "A"
print (dessert_dict)

{'Daniel': 'B', 'Michael': 'A'}

In [1]:
import pandas as pd

In [4]:
df = pd.DataFrame({'1st': [3, 3, 3], '2nd': [6, 6, 6], '3rd': [9, 9, 9]})

   1st  2nd  3rd
0    3    6    9
1    3    6    9
2    3    6    9

In [7]:
sub_df = df[['2nd']]
sub_df

   2nd
0    6
1    6
2    6

In [9]:
df.columns

Index(['1st', '2nd', '3rd'], dtype='object')

In [11]:
df.shape

(3, 3)

In [12]:
df.dtypes

1st    int64
2nd    int64
3rd    int64
dtype: object